@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Hello, world test!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="IncrementCount">Test</button>

@code {


    private void IncrementCount()
    {
        Http.GetAsync("IronMan/test");
    }
}
