@page "/test"
@inject HttpClient Http
@using BlazorIron.Shared

<PageTitle>Test</PageTitle>

<h1>Counter</h1>

<p>Motore 1: <input @bind="servoInfo.Angle1"/> </p>
<p>Motore 2: <input @bind="servoInfo.Angle2"/> </p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button><br />
<button class="btn btn-primary" @onclick="LedOn">Led on</button><button class="btn btn-primary" @onclick="LedOff">Led off</button><br />


@code {
    private ServoInfo servoInfo = new ServoInfo() { Angle1=10,Angle2=20};

    private async void IncrementCount()
    {
        using var response = await Http.PostAsJsonAsync("IronMan/MoveServo",servoInfo);

       
    //article = await response.Content.ReadFromJsonAsync<Article>();

    }

    private async void LedOn()
    {
       
         Http.GetAsync("IronMan/LedOn");
       
    //article = await response.Content.ReadFromJsonAsync<Article>();

    }

    private async void LedOff()
    {  
         Http.GetAsync("IronMan/LedOff");
       
    //article = await response.Content.ReadFromJsonAsync<Article>();

    }
}
